.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Yarı saydam beyaz kenar */
  border-top: 8px solid #fff; /* Tam beyaz kenar */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}